page-opcoes {
    .topo{
        width: 280;
        height: 50;
        position: absolute;
        left: -5%;
    }
    .carrinho{
        width: 50;
        height: 45;
        position: absolute;
    }
}
